.form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.form-field {
  /* display: flex; */
  margin-bottom: 1rem;
}

.form-field label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.form-field select {
  margin-top: 0.5rem;
}

.fieldset .legend {
  font-weight: bold;
}

.checkbox-option {
  margin-bottom: 0.5rem;
}

.checkbox-label {
  margin-left: 0.5rem;
}
