.menu-cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: stretch; */
    padding: 0 2rem 2rem;
    background-color: white;
}

.menu-cart-container .cart {
    order: 1;
    flex-shrink: 0;
    width: 30%;
    padding: 0 1rem 1rem;
    border-left: 2px solid #7D1D03;
    /* background-color: #FBBF58; */
}

.cart .items {
    padding: 0 1rem
}

.cart .checkout {
    width: 100%;
}

.menu-cart-container .menu {
    order: 0;
    width: 65%;
}

.favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.favorites .card-wrapper {
    width: 49%;
    margin-bottom: 1rem;
}

.favorites .card {
    display: flex;
    flex-direction: column;
    background-color: #F8EFD9;
    border: 1px solid #7D1D03;
    border-radius: 8px;
    color: black;
    box-shadow: rgb(0 0 0 / 75%) 0px 0px 0.25rem 0px;
    padding: 1rem;
    width: 100%;
    height: 100%;
    text-align: left;
    cursor: pointer;
}

.favorites h3 {
    margin: .5rem 0;
}
.favorites p {
    margin: .5rem 0;
    text-transform: none;
}
